<header>
    <div class="top">
        <a href="/" class="bigword">MATRIOSCA</a>
        <a href="/login" class="authentication">Log In</a>
        <a href="/signup" class="authentication">Sign up</a>
    </div>
    <nav class="navegacao">
        <a href="/profile">Profile</a>
        <a href="/friends">Friends</a>
        <a href="/roomlist">Rooms</a>
        <a href="/leaderboards">Leaderboard</a>
        <a href="/feedback">Feedback</a>
    </nav>
</header>