<header>
    <div class="top">
        <a href="index.html" class="bigword">MATRIOSCA</a>
        <a href="login.html" class="authentication">Log In</a>
        <a href="signup.html" class="authentication">Sign up</a>
    </div>
    <nav class="navegacao">
        <a href="profile.html">Profile</a>
        <a href="friends.html">Friends</a>
        <a href="roomlist.html">Rooms</a>
        <a href="leaderboard.html">Leaderboard</a>
        <a href="feedback.html">Feedback</a>
    </nav>
</header>