<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="whitebg noscroll">
    <h1>Erro interno</h1>
    <p>Ocorreu um problema inesperado.</p>
    <a href="/" class="btn btn-primary">Voltar à página inicial</a>
</div>

<%- include('partials/footer') %>