<%- include('partials/head') %>
        <%- include('partials/header') %>

        <main class="friends-page">
            <section class="friends-layout">

                <!-- left panel with user info and add friend form -->
                <aside class="friends-left">

                    <div class="my-name-box">
                        <label for="myName">Teu nome:</label>
                        <p id="myName">[nome utilizador]</p>
                    </div>

                    <!-- form to add a new friend -->
                    <form action="/friends/search" method="GET" class="friend-search-form" id="addFriendForm">
                        <label for="friendUsername">Adicionar amigo:</label>

                        <input
                            type="text"
                            id="friendUsername"
                            name="username"
                            placeholder="username"
                            autocomplete="off"
                            required
                        >

                        <button type="submit">search</button>
                    </form>

                    <!-- message area -->
                    <p id="friendMessage"></p>

                </aside>

                <!-- right panel where friends will be shown -->
                <section class="friends-right">
                    <h1>FRIENDS</h1>

                    <!-- dynamic list, for now with js -->
                    <div class="friends-list" id="friendsList"></div>
                </section>

            </section>
        </main>

        <%- include('partials/footer') %>

    </div>

    <!-- link to JS file -->
    <script src="/js/friends.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
