<!DOCTYPE html>
<html lang="pt-PT">
<%- include('partials/head') %>
<body>
    <div class="container noscroll">
        <%- include('partials/header') %>

        <div class="graybg plslogin">
            <h3>Uh oh!</h3>
            <p>It seems like you currently aren't logged into an account! You may still be able to play the Casual gamemode, but you will need an account to play the rest so that your score can be properly registered! Please sign up or log into your account on the <b>top right corner</b>.</p>
        </div>

        <section class="whitebg lb-content">
            <div class="col-10 col-md-10 col-lg-8">
                <div class="lb-wrapper active-time">
                    <div class="lb-tabs">
                        <div class="lb-tab tab-time active" onclick="switchMode('time')">TIME ATTACK</div>
                        <div class="lb-tab tab-123" onclick="switchMode('123')">1ST 2 3</div>
                    </div>
                    <div class="lb-box">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody id="leaderboard-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/js/leaderboard.js"></script>
</body>
</html>
