<!DOCTYPE html>
<html lang="pt-PT">
<%- include('partials/head') %>
<body>
    <div class="container noscroll">
        <%- include('partials/header') %>

        <% if (typeof currentUser !== 'undefined' && currentUser) { %>
        <section class="whitebg lb-content">
            <div class="col-10 col-md-10 col-lg-8">
                <div class="lb-wrapper active-time">
                    <div class="lb-tabs">
                        <div class="lb-tab tab-time active" onclick="switchMode('time')">TIME ATTACK</div>
                        <div class="lb-tab tab-123" onclick="switchMode('123')">1ST 2 3</div>
                    </div>
                    <div class="lb-box">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody id="leaderboard-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <% } else { %>
        <section class="whitebg lb-content">
            <div class="auth-required-msg">
                <h3>🔒 Login Required</h3>
                <p>Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to view the leaderboard.</p>
            </div>
        </section>
        <% } %>

        <%- include('partials/footer') %>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/js/leaderboard.js"></script>
</body>
</html>
