<%- include('partials/head') %>
        <%- include('partials/header') %>
            <h1>Utilizador não encontrado</h1>
            <p>O utilizador que procura não existe ou foi removido.</p>
            <a href="/" class="btn btn-primary">Voltar à página inicial</a>
        </div>

<%- include('partials/footer') %>